.container {
  max-width: 120rem; // 120rem 이상으로 커지지 않음
  min-height: 50rem; // 최소 50rem을 확보함
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  // 가운데 정렬
  margin: 8rem auto;
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}